/* 
    header color                        #212121 
    text color                          #757575 

    main background color               #FFFFFF 
    secondary background color          #F5F5F5

    accent color                        #2196F3
    white color                         #FFFFFF 

    background order service footer     #2F303A
*/

:root {
    --title-color: #212121;
    --text-color: #757575;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --background-order-service-footer: #2F303A;
}

body {
    background-color: var( --main-background-color);
    color: var(--text-color);
    font-family: "roboto";
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}


/* STUDIO STYLES */


/* Header styles */

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.logo-first {
    color: var(--accent-color);
}

.menu-nav a {
    color: var(--title-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu-nav .active,
.menu-nav a:hover,
.menu-nav a:focus {
    color: var(--accent-color);
}

.connect a {
    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.connect a:hover,
.connect a:focus {
    color: var(--accent-color);
}


/* Order a order-service */

.order-service {
    background-color: var(--background-order-service-footer);
}

.main-title {
    color: var(--white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-btn {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}


/* Features styles */

.feature-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}


/* Services styles*/

.services-title,
.team-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Team styles */

.team-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.employee-card {
    background-color: var(--main-background-color);
}

.employee-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.employee-description {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}


/* Footer styles */

footer {
    background-color: var(--background-order-service-footer)
}

.logo-footer {
    color: var(--white-color);
}

.postal-address {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* PORTFOLION STILES */


/* Buttons styles */

.filter-btn {
    color: var(--title-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.filter-btn.active,
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}


/* Galery projects styles */

.project-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.project-description {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}